<div class="app-header" ng-controller="HeaderController as HCtrl">
  <ul class="nav nav-pills pull-right">
    <li role="presentation" ng-click="menuRoute('mainpage')"><a href="#">Home</a></li>
    <li role="presentation" ng-click="menuRoute('about')"><a href="#about">About</a></li>
    <li role="presentation" ng-click="menuRoute('companies')"><a href="#companies">Companies</a></li>
    <li role="presentation" ng-click="menuRoute('team')"><a href="#team">Team</a></li>
    <li role="presentation" ng-click="menuRoute('contacts')"><a href="#contacts">Contacts</a></li>
  </ul>
</div>
