<footer class="app-footer row" ng-controller="FooterController as FCtrl">

			<div class="col-md-4">

				<h3>Company</h3>

				<br>

				<p class="footer-company-name">Company © 2017</p>
			</div>

			<div class="col-md-4">

          <div class="row">
            <div class="col-md-1">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="col-md-11">
              <p><span>21 Revolution Street</span> Rio, Brazil</p>
            </div>
				</div>

				<div class="row">
          <div class="col-md-1">
            <i class="fa fa-phone"></i>
          </div>
          <div class="col-md-11">
            <p>+1 555 123456</p>
          </div>
				</div>

        <div class="row">
          <div class="col-md-1">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="col-md-11">
            <p><a href="mailto:support@company.com">support@company.com</a></p>
          </div>
				</div>

			</div>

			<div class="col-md-4">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="row">
					<div class="col-md-3 footer-icon">
						<a href="#"><i class="fa fa-facebook"></i></a>
					</div>
					<div class="col-md-3 footer-icon">
						<a href="#"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="col-md-3 footer-icon">
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
					<div class="col-md-3 footer-icon">
						<a href="#"><i class="fa fa-github"></i></a>
					</div>

				</div>

			</div>

		</footer>
