<div class="app-mainpage" ng-controller="MainpageController as MPCtrl">

    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="features-icons-item">
                        <span>
                            <i class="fa fa-anchor"></i>
                        </span>
                        <h3>Fully Responsive</h3>
                        <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="features-icons-item">
                        <span>
                          <i class="fa fa-bars"></i>
                      </span>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Website is very simple, so users can find everything in short period of time.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="features-icons-item">
                        <span>
                            <i class="fa fa-sitemap"></i>
                        </span>
                        <h3>Well structured</h3>
                        <p class="lead mb-0">Every user could have access for all topics.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="row">
            <div class="col-md-6 text-white showcase-img" style="background-image: url('/assets/bg-showcase-1.jpg');
                                                                 background-position: center;
                                                                 background-repeat: no-repeat;
                                                                 background-size: cover;">
            </div>
            <div class="col-md-6 showcase-text">
                <h2 class="h2-title">Purpose</h2>
                <p class="lead mb-0">The stated purpose of the puzzles each year has been to recruit "highly intelligent individuals", though the ultimate purpose remains unknown Some have claimed that Cicada 3301 is a secret society with the goal of improving cryptography, privacy and anonymity. Others have claimed that Cicada 3301 is a cult or religion. According to statements made to winners of the 2012 puzzle, 3301 typically uses non-puzzle-based recruiting methods, but created the Cicada puzzles because they were looking for potential members with cryptography and computer security skills.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 showcase-text">
                <h2 class="h2-title">Resolution</h2>
                <p class="lead mb-0">The ultimate outcome of all three rounds of Cicada 3301 recruiting is still a mystery. The final known puzzles became both highly complex and individualized as the game unfolded. Anonymous individuals have claimed to have completed the process, but verification from the organization was never made and the individuals making the claim have not been forthcoming with information. According to one person who completed the 2012 puzzle, those who solved the puzzles were asked questions about their support of information freedom, online privacy and freedom, and rejection of censorship. Those who answered satisfactorily at this stage were invited to a private forum, where they were instructed to devise and complete a project intended to further the ideals of the group.</p>
            </div>
            <div class="col-md-6 text-white showcase-img" style="background-image: url('/assets/bg-showcase-2.jpg');
                                                                 background-position: center;
                                                                 background-repeat: no-repeat;
                                                                 background-size: cover;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-white showcase-img" style="background-image: url('/assets/bg-showcase-3.jpg');
                                                                 background-position: center;
                                                                 background-repeat: no-repeat;
                                                                 background-size: cover;">
            </div>
            <div class="col-md-6 showcase-text">
                <h2 class="h2-title">Types of clues</h2>
                <p class="lead mb-0">The Cicada 3301 clues have spanned many different communication media including internet, telephone, original music, bootable Linux CDs, digital images, physical paper signs, and pages of unpublished cryptic books. In addition to using many varying techniques to encrypt, encode, or hide data, these clues also have referenced a wide variety of books, poetry, artwork and music.</p>
            </div>
        </div>
    </section>

</div>
